{{#d-modal-body title="login.to_continue" class="sso-login-modal"}}
  Пожалуйста,
  <a href {{action 'login'}}>авторизуйтесь</a>
  или
  <a href {{action 'login'}}>зарегистрируйтесь</a>
  для того чтобы участвовать в обсуждениях.
{{/d-modal-body}}
